
html * {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url("../images/college-logos.png");
}

.col {
	padding: 0px;
}

.row {
	padding: 0px;
}

#background {
	height: 800px;
	width: 100%;
	/*background-color: #222657*/
	
	
}
	

#wrapper {
	height: 600px;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	padding: 0px;
	background-color: white;
	border: 2px solid grey;

}
				
				
						
#header {
	height: 100px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #006699;
	color: white;
	text-align: center;
}				

#title {
	padding-top: 0px;
	margin: 0px;
	line-height: 100px;
}
						
#timer {

	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	display: none;

} 

#answerResult {

	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px
}

				
#mainContent {
	display: none;
}

#question {

	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px

}


#content1 {
	text-align: center;
}

#content2 {
	text-align: center;
}


ul {
  list-style-type: none;
}

.answerButton {
	width: 250px;
	height: 50px;
	/*background-color: #ffff00;*/
	margin-top: 10px;
	border-radius: 10px;

}
.answerButton:hover { 
	background-color: #0055ff !important; 
}

#start {
	width: 250px;
	height: 50px;
	margin-top: 150px;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
	font-weight: bold;
	
}

#start:hover { 
	background-color: #ffff00 !important; 
}

#restart {
	width: 250px;
	height: 50px;
	margin-top: 20px;
	border-radius: 10px;
	display: none;
	
}

#restart:hover { 
	background-color: #ffff00 !important; 
}

#buttonRow {
	text-align: center;
}

#logo {
	max-height: 250px;
}